@plugin "@tailwindcss/typography";

@layer base {
  /* ===== Override default Tailwind Typography styles ===== */
  .app-prose {
    @apply prose prose-neutral dark:prose-invert;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply text-foreground mb-3 scroll-mt-6 font-semibold tracking-tight;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    p,
    ol,
    ul {
      @apply leading-7;
    }

    a {
      @apply text-accent hover:text-accent-active wrap-break-word underline decoration-current/40 underline-offset-4 focus-visible:no-underline;
    }

    ul {
      @apply overflow-x-clip;
    }

    li {
      @apply marker:text-accent;
    }

    hr {
      @apply border-border;
    }

    img {
      @apply border-border bg-surface mx-auto rounded-md border;
    }

    img[role="button"] {
      @apply cursor-zoom-in;
    }

    figcaption {
      @apply text-muted-foreground opacity-100;
    }

    table {
      @apply text-sm;

      th,
      td {
        @apply border-border border p-2;
      }

      th {
        @apply bg-surface py-1.5;
      }
    }

    code {
      @apply bg-surface border-border text-foreground rounded border px-1 py-0.5 wrap-break-word before:content-none after:content-none;
    }

    .astro-code code {
      @apply flex-[1_0_100%] bg-inherit p-0;
    }

    blockquote {
      @apply border-s-accent bg-surface text-muted-foreground rounded-r-md py-1 ps-4 wrap-break-word opacity-100;
    }

    details:not(.callout) {
      @apply text-foreground border-border bg-surface inline-block cursor-pointer rounded-md border px-3 py-2 select-none [&_p]:hidden [&_ul]:my-0!;
    }

    summary {
      @apply focus-visible:no-underline;
    }
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  .astro-code {
    @apply border-border bg-surface flex rounded-md border text-(--shiki-light) [&_span]:text-(--shiki-light);
  }

  html[data-theme="dark"] .astro-code {
    background-color: #1a1a1a;
    color: var(--shiki-dark);

    span {
      color: var(--shiki-dark);
    }
  }

  /* Styles for Shiki transformers */
  /* https://shiki.style/packages/transformers */
  .astro-code {
    .line.diff.add {
      background-color: #00250a;
      @apply relative inline-block w-full before:absolute before:-left-3 before:content-['+'];

      &::before {
        color: #00ca52;
      }
    }
    .line.diff.remove {
      background-color: #330a11;
      @apply relative inline-block w-full before:absolute before:-left-3 before:content-['-'];

      &::before {
        color: #ff5e63;
      }
    }
    .line.highlighted {
      background-color: #ffffff12;
      @apply inline-block w-full;
    }
    .highlighted-word {
      @apply border-border bg-surface-hover rounded-sm border px-0.5 py-px;
    }
  }
}
